* {
  margin: 0;
  padding: 0;
  object-fit: contain;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #011415 0%, #66a6ff 100%);
}

.navbar {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
 
}

.navbar ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.todo input {
  border: none;
  height: 25px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px;
}

.todo button {
  width: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  color: lightblue;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  outline: none;
}

.todo button:hover {
  box-shadow: 2px 2px 2px;
  background-color: green;

}

.button-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.TodoList {
  margin-top: 25px;
  width: 100%;

}

.todo-area {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.a {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.icons{
  cursor: pointer;
}
.icons:hover{
  transform: scale(1.2);
  transition: 500ms;
  color: red
}
.relative{
  position: absolute;
  top:0;
  right: 0;
  margin-right: 200px;
  margin-top: 200px;
}